.main {
  background-color: $light-gray;
}
.highlight {
	position: relative;
	&__title {
    margin-top: 0;
    margin-left: 16px;
    padding-top: 24px;
		margin-bottom: 0px;
    @media (min-width: 768px) and (min-width: 1365.99) {
      margin-left: 24px;
    }
    @media (min-width: 1366px) {
			padding-top: 0;
      margin-left: 32px;
			margin-top: 42px;
			margin-bottom: 8.37px;
		}
  }
  &::before {
    content: ' ';
    position: absolute;
    min-height: 40px;
    min-width: 4px;
    border-radius: 4px;
    margin-top: 24px;
    background-color: $highlight;
    @media (min-width: 1366px) {
      min-width: 3px;
      left: -1px;
      border-radius: 2px;
			top: -25px;
    }
  }

  .title {
    color: $text-black;
    font-family: 'TT Lakes', sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.1px;
  }
}
.nav {
  &__slide-menu {
    margin-top: 16px;
    margin-left: 16px;
		margin-bottom: 24px;
		@media (min-width: 768px) {
      margin-left: 24px;
      margin-top: 32px;
    }
    @media (min-width: 1366px) {
      max-height: none;
      flex-wrap: wrap;
      margin-top: 8px;
      margin-left: 32px;
      margin-right: 32px;
    }
  }
  .slide-menu {
    overflow: scroll;
    display: flex;
    padding: 0;
    list-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    @media (min-width: 1366px) {
      overflow: hidden;
			min-width: 100%;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
    &__item {
			max-height: 40px;
      display: block;
      color: $text-gray;
      border-radius: 6px;
      font-family: 'TT Lakes', sans-serif;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      white-space: nowrap;
      min-height: 40px;
      padding: 4px 15px 0;
      letter-spacing: -0.2px;
      &:active {
        border-color: $aboutUs-nav;
        background-color: $white;
      }
      &--active {
        border: 2px solid $aboutUs-nav;
        background-color: $white;
        border-color: $aboutUs-nav;
      }
      &--screen {
        @media (min-width: 1366px) {
          padding: 5px 20px 0;
        }
      }
    }
  }
}
.info {
  &--position {
    display: block;
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__description {
		overflow: hidden;
	
    font-weight: 300;
    color: $text-black;
		margin: 0px 16px 0 16px;
	
		@media (min-width:1366px) {
			margin-left: 34px;
		}
    &--size {
      max-height: 90px;
      @media (min-width: 768px) {
        margin: 16px auto 0 24px;
        max-height: 160px;
      }
      @media (min-width: 1366px) {
        margin: 20px auto 0 34px;
      }
			&-none{
				max-height: none;
			}
    }
  }
  &__paragraph {
		max-width: 312px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    &--size {
			margin: 0;
      min-width: 288px;
      @media (min-width: 768px) {
        min-width: 312px;
        line-height: 20px;
				max-height: 160px;
      }
      @media (min-width: 1366px) {
        max-width: 490px;
      }
    }
  }
  &__read-on {
    border: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    background-color: transparent;
		color: $text-black;
		&:hover{
			color: $text-blue;
			text-shadow: 0 0 10px $red-trans;
		}
    &::before {
      content: ' ';
      display: inline-block;
      margin-right: 16px;
      height: 11px;
      width: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
			transition: transform 0.5s ease-in-out;

    }
		&:hover {
			color:$text-blue;
			text-shadow: 0 0 10px $red-trans;
		}
		&--rotate::before{
			@media (min-width: 768px) {
				transform:rotate(180deg);	
			}
		}
    &--position {
			margin-top: 16px;
      margin-left: 19px;
    }
  }

  &__logo {
		height: 100%;
    width: 100%;
    margin-top: 12.57px;
    @media (min-width: 768px) {
      border-radius: 6px;
      margin-right: 25px;
      max-width: 360px;
    }
    @media (min-width: 1366px) {
      margin-top: 10px;
      margin-right: 25px;
      max-width: 532px;
    }
  }
}
