@charset "UTF-8";
@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Regular.woff2), url(../fonts/TTLakes-Regular.woff);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Bold.woff2), url(./fonts/TTLakes-Bold.woff);
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Medium.woff2), url(../fonts/TTLakes-Medium.woff);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
* {
  font-family: "TT Lakes";
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8f8f8;
}
@media (min-width: 1366px) {
  body {
    display: flex;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
  }
}
@media (min-width: 1366px) {
  body:before {
    content: "";
    position: relative;
    flex-shrink: 0;
  }
}

.swiper-pagination {
  bottom: unset !important;
  background: #f8f8f8;
  position: static;
}
.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: #dddddd;
  opacity: 1;
  transition-duration: 250ms;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
  transition-duration: 250ms;
}

button {
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -1000px;
  top: 0;
  bottom: 0;
  margin: 0;
  background-color: #ffffff;
  max-width: 320px;
  min-width: 320px;
  min-height: 100%;
  z-index: 100;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
@media (min-width: 360px) {
  .sidebar {
    max-width: 360px;
    min-width: 360px;
  }
}
@media (min-width: 768px) {
  .sidebar {
    max-width: 320px;
    min-width: 320px;
  }
}
@media (min-width: 1366px) {
  .sidebar {
    box-shadow: none;
    left: -1px;
    display: block;
    position: relative;
  }
}
.sidebar--active {
  left: 0;
}
.sidebar--active::before {
  display: none;
  content: "";
  position: fixed;
  top: 0;
  left: 320px;
  width: calc(100% - 320px);
  height: 100%;
  z-index: -1;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.96;
}
@media (min-width: 768px) and (max-width: 1366px) {
  .sidebar--active::before {
    display: block;
  }
}
.sidebar__wrapper {
  flex-grow: 1;
}
.sidebar-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 88px;
}
.sidebar-menu__burger-button {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.79348 1.25712C2.40295 0.866593 1.76979 0.866592 1.37927 1.25712L1.25712 1.37927C0.866592 1.76979 0.866593 2.40296 1.25712 2.79348L7.46364 9L1.25712 15.2065C0.866593 15.597 0.866592 16.2302 1.25712 16.6207L1.37927 16.7429C1.76979 17.1334 2.40295 17.1334 2.79348 16.7429L9 10.5364L15.2065 16.7429C15.597 17.1334 16.2302 17.1334 16.6207 16.7429L16.7429 16.6207C17.1334 16.2302 17.1334 15.597 16.7429 15.2065L10.5364 9L16.7429 2.79348C17.1334 2.40296 17.1334 1.76979 16.7429 1.37927L16.6207 1.25712C16.2302 0.866592 15.597 0.866593 15.2065 1.25712L9 7.46364L2.79348 1.25712Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: 16px;
}
@media (min-width: 360px) {
  .sidebar-menu__burger-button {
    margin-left: 24px;
  }
}
@media (min-width: 1120px) {
  .sidebar-menu__burger-button {
    display: none !important;
  }
}
.sidebar-menu-logo__link-img {
  margin-left: 16px;
}
.sidebar-menu__search-button {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5006 11.0006H11.7106L11.4306 10.7306C12.6306 9.33063 13.2506 7.42063 12.9106 5.39063C12.4406 2.61063 10.1206 0.390626 7.32063 0.0506256C3.09063 -0.469374 -0.469374 3.09063 0.0506256 7.32063C0.390626 10.1206 2.61063 12.4406 5.39063 12.9106C7.42063 13.2506 9.33063 12.6306 10.7306 11.4306L11.0006 11.7106V12.5006L15.2606 16.7506C15.6706 17.1606 16.3306 17.1606 16.7406 16.7506L16.7506 16.7406C17.1606 16.3306 17.1606 15.6706 16.7506 15.2606L12.5006 11.0006ZM6.50063 11.0006C4.01063 11.0006 2.00063 8.99063 2.00063 6.50063C2.00063 4.01063 4.01063 2.00063 6.50063 2.00063C8.99063 2.00063 11.0006 4.01063 11.0006 6.50063C11.0006 8.99063 8.99063 11.0006 6.50063 11.0006Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-right: 16px;
  margin-left: auto;
}
@media (min-width: 360px) {
  .sidebar-menu__search-button {
    margin-right: 24px;
  }
}
@media (min-width: 1120px) {
  .sidebar-menu__search-button {
    margin-right: 29px;
    margin-top: 35px;
  }
}
.sidebar-menu__call-button {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.76019 12.25L4.30019 11.96C4.91019 11.89 5.51019 12.1 5.94019 12.53L7.78019 14.37C10.6102 12.93 12.9302 10.62 14.3702 7.78L12.5202 5.93C12.0902 5.5 11.8802 4.9 11.9502 4.29L12.2402 1.77C12.3602 0.76 13.2102 0 14.2302 0H15.9602C17.0902 0 18.0302 0.94 17.9602 2.07C17.4302 10.61 10.6002 17.43 2.07019 17.96C0.940193 18.03 0.00019455 17.09 0.00019455 15.96V14.23C-0.00980568 13.22 0.750193 12.37 1.76019 12.25Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: 24px;
  margin-top: auto;
}
.sidebar-menu__chat-button {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 0H2C0.9 0 0.01 0.9 0.01 2L0 20L4 15H18C19.1 15 20 14.1 20 13V2C20 0.9 19.1 0 18 0ZM11 11H5C4.45 11 4 10.55 4 10C4 9.45 4.45 9 5 9H11C11.55 9 12 9.45 12 10C12 10.55 11.55 11 11 11ZM15 6H5C4.45 6 4 5.55 4 5C4 4.45 4.45 4 5 4H15C15.55 4 16 4.45 16 5C16 5.55 15.55 6 15 6Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: 16px;
  margin-top: auto;
}
.sidebar-menu__profile-button {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 9C12.9853 9 15 6.98528 15 4.5C15 2.01472 12.9853 0 10.5 0C8.01472 0 6 2.01472 6 4.5C6 6.98528 8.01472 9 10.5 9Z' fill='white'/%3E%3Cpath d='M0.0165859 16.6118C-0.113065 17.3412 0.535191 18 1.33903 18H18.6604C19.4902 18 20.1125 17.3412 19.9829 16.6118C19.2309 12.4 15.0561 10 9.99973 10C4.94333 10 0.768563 12.4 0.0165859 16.6118Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: 16px;
  margin-top: auto;
}
.sidebar .button {
  display: block;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  background-color: #ff3e79;
  border-radius: 20px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  transition-duration: 300ms;
  cursor: pointer;
}
.sidebar-nav__menu-list {
  margin: 0;
  margin-left: 16px;
}
@media (min-width: 360px) {
  .sidebar-nav__menu-list {
    margin-left: 24px;
  }
}
.sidebar__footer {
  margin-top: 32px;
}
@media (min-width: 1366px) {
  .sidebar__footer {
    margin-top: 241px;
  }
}
.sidebar__footer-menu {
  height: auto;
}
.sidebar__footer-menu-btn {
  margin-left: 16px;
}
@media (min-width: 768px) {
  .sidebar__footer-menu-btn {
    margin-left: 24px;
  }
}
.sidebar__footer-lang-list {
  margin: 0;
  margin-top: 8px;
  margin-left: 16px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .sidebar__footer-lang-list {
    margin-top: 40px;
    margin-left: 24px;
  }
}

.menu-list {
  list-style: none;
  padding: 0;
}
.menu-list__item {
  display: block;
  font-size: 16px;
  color: #1b1c21;
  line-height: 24px;
  margin: 0;
  margin-top: 24px;
  position: relative;
}
@media (min-width: 768px) {
  .menu-list__item {
    margin-top: 32px;
  }
}
@media (min-width: 1366px) {
  .menu-list__item {
    margin-top: 28.31px;
  }
}
.menu-list__item:first-child {
  margin-top: 8px;
}
@media (min-width: 768px) {
  .menu-list__item:first-child {
    margin-top: 31.46px;
  }
}
@media (min-width: 1366px) {
  .menu-list__item:first-child {
    margin-top: 30px;
  }
}
.menu-list__item--active {
  color: #7e7e82;
}
.menu-list__item--active::before {
  content: " ";
  height: 32px;
  position: absolute;
  left: -24px;
  top: -5px;
  width: 4px;
  border-radius: 4px;
  background-color: #41f6d7;
}

.contact__mail-item {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
}
.contact__mail-item--position {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .contact__mail-item--position {
    margin-left: 24px;
  }
}
.contact__phone-item {
  font-weight: bold;
  color: rgb(27, 28, 33);
  display: block;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: -0.6px;
}
.contact__phone-item--position {
  margin-top: 12px;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .contact__phone-item--position {
    margin-left: 24px;
  }
}

.lang-list {
  display: flex;
  list-style: none;
  padding: 0;
}
.lang-list__item {
  display: block;
  font-size: 16px;
  color: rgb(27, 28, 33);
  font-family: "TT Lakes", sans-serif;
  font-weight: 500;
  margin-right: 7px;
  line-height: 24px;
}
.lang-list__item--active {
  color: #7e7e82;
}

.header {
  background-color: #ffffff;
}
.header .menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 88px;
}
@media (min-width: 1120px) {
  .header .menu--without-icons {
    float: right;
    width: auto;
    margin-right: 32px;
    background-color: #f8f8f8;
    border: none;
  }
}
.header .menu__burger-button {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H17C17.5523 0 18 0.447715 18 1C18 1.55228 17.5523 2 17 2H1C0.447716 2 0 1.55228 0 1ZM0 8C0 7.44772 0.447715 7 1 7H9C9.55228 7 10 7.44772 10 8C10 8.55229 9.55229 9 9 9H1C0.447715 9 0 8.55229 0 8ZM1 14C0.447715 14 0 14.4477 0 15C0 15.5523 0.447716 16 1 16H13C13.5523 16 14 15.5523 14 15C14 14.4477 13.5523 14 13 14H1Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: 16px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .header .menu__burger-button {
    margin-right: 0;
    margin-left: 24px;
  }
}
.header .menu__call-button {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.76019 12.25L4.30019 11.96C4.91019 11.89 5.51019 12.1 5.94019 12.53L7.78019 14.37C10.6102 12.93 12.9302 10.62 14.3702 7.78L12.5202 5.93C12.0902 5.5 11.8802 4.9 11.9502 4.29L12.2402 1.77C12.3602 0.76 13.2102 0 14.2302 0H15.9602C17.0902 0 18.0302 0.94 17.9602 2.07C17.4302 10.61 10.6002 17.43 2.07019 17.96C0.940193 18.03 0.00019455 17.09 0.00019455 15.96V14.23C-0.00980568 13.22 0.750193 12.37 1.76019 12.25Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: auto;
}
.header .menu__chat-button {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 0H2C0.9 0 0.01 0.9 0.01 2L0 20L4 15H18C19.1 15 20 14.1 20 13V2C20 0.9 19.1 0 18 0ZM11 11H5C4.45 11 4 10.55 4 10C4 9.45 4.45 9 5 9H11C11.55 9 12 9.45 12 10C12 10.55 11.55 11 11 11ZM15 6H5C4.45 6 4 5.55 4 5C4 4.45 4.45 4 5 4H15C15.55 4 16 4.45 16 5C16 5.55 15.55 6 15 6Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: 16px;
}
.header .menu__profile-button {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 9C12.9853 9 15 6.98528 15 4.5C15 2.01472 12.9853 0 10.5 0C8.01472 0 6 2.01472 6 4.5C6 6.98528 8.01472 9 10.5 9Z' fill='white'/%3E%3Cpath d='M0.0165859 16.6118C-0.113065 17.3412 0.535191 18 1.33903 18H18.6604C19.4902 18 20.1125 17.3412 19.9829 16.6118C19.2309 12.4 15.0561 10 9.99973 10C4.94333 10 0.768563 12.4 0.0165859 16.6118Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: 16px;
}
.header .menu__repair-button {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25807 13.4583L8.66685 13.0494L6.94998 11.3322L6.54121 11.7411L6.33682 11.5367C6.0098 11.1687 5.68278 10.9643 5.35575 11.0052C5.11049 11.0052 4.9061 11.1687 4.74259 11.414C4.49732 11.8229 4.61996 12.2726 4.66083 12.5588C4.66083 12.6406 4.70171 12.6815 4.70171 12.7632C4.70171 12.8859 4.70171 13.0494 4.41557 13.0903C4.00679 13.213 3.47538 13.3356 2.94397 13.6218C2.20817 14.0307 1.71764 14.3987 1.4315 14.7666C-0.0809772 16.7291 0.000778159 18.4055 0.000778159 18.4872C0.000778159 18.6099 0.0416558 18.6917 0.123411 18.7325L1.22711 19.8773C1.30886 19.9591 1.39062 20 1.47237 20C1.47237 20 1.51325 20 1.59501 20C2.00378 20 3.47538 19.9182 5.19224 18.569C5.56014 18.2828 5.92804 17.7922 6.33682 17.0562C6.62296 16.5656 6.78647 16.0341 6.86823 15.5844C6.94998 15.2982 7.07262 15.2982 7.19525 15.2982C7.23613 15.2982 7.31788 15.339 7.39964 15.339C7.56315 15.3799 7.72666 15.4208 7.93105 15.4208C8.13544 15.4208 8.33983 15.3799 8.54421 15.2573C8.78948 15.0937 8.95299 14.8893 8.99387 14.644C9.03475 14.3169 8.87123 13.9898 8.50334 13.7036L8.25807 13.4583Z' fill='white'/%3E%3Cpath d='M16.884 4.87841L18.0188 4.32603C18.0609 4.28354 18.1449 4.24105 18.1869 4.19856L19.9101 1.86157C20.0362 1.69161 20.0362 1.43667 19.8681 1.3092L18.6913 0.119458C18.5652 -0.00801422 18.313 -0.0505049 18.1449 0.076967L15.8333 1.81908C15.7913 1.86157 15.7493 1.90406 15.7072 1.98905L15.1609 3.13629L11 7.21539L12.7652 9L16.884 4.87841Z' fill='white'/%3E%3Cpath d='M17.8527 13.0448C16.8636 12.0036 15.4393 11.6288 14.0941 12.0036L7.64527 5.17331C7.72439 4.79848 7.76396 4.46529 7.76396 4.09046C7.76396 3.04926 7.36832 2.00806 6.61661 1.21675C5.58796 0.0922529 4.04498 -0.282579 2.6207 0.217197C2.54157 0.258845 2.42288 0.383789 2.38331 0.550381C2.38331 0.675325 2.42288 0.800269 2.50201 0.925213L4.44062 2.96597C4.87582 3.42409 4.87582 4.21541 4.44062 4.67353C4.00542 5.13166 3.25371 5.13166 2.81851 4.67353L0.8799 2.63278C0.76121 2.54949 0.642519 2.50784 0.484265 2.54949C0.365574 2.54949 0.246884 2.67443 0.20732 2.79937C-0.267442 4.25705 0.0886295 5.88133 1.11728 6.96417C1.82943 7.75549 2.85808 8.17197 3.88673 8.17197C4.20324 8.17197 4.55931 8.13032 4.87582 8.04702L11.3642 14.8773C11.0082 16.2933 11.4038 17.7927 12.3533 18.8339C13.105 19.6252 14.0546 20 15.0832 20C15.5184 20 15.914 19.9167 16.3492 19.7918C16.4679 19.7501 16.5866 19.6252 16.6262 19.5002C16.6658 19.3753 16.6262 19.2087 16.5075 19.1254L14.5689 17.0846C14.3711 16.8764 14.2128 16.5432 14.2128 16.21C14.2128 15.8768 14.3315 15.5853 14.5689 15.3354C14.8063 15.0855 15.0832 14.9606 15.3997 14.9606C15.7162 14.9606 15.9932 15.0855 16.2306 15.3354L18.1692 17.3762C18.2879 17.4595 18.4065 17.5011 18.5252 17.5011C18.6439 17.4595 18.7626 17.3762 18.8022 17.2512C18.9209 16.8348 19 16.3766 19 15.9185C19 14.8356 18.6044 13.7944 17.8527 13.0448Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-right: 16px;
}
.header .menu__status-button {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447716 16 1V18.5C15.1716 18.5 14.5 19.1715 14.5 19.9999H13.5C13.5 19.1715 12.8284 18.5 12 18.5C11.1716 18.5 10.5 19.1715 10.5 19.9999H9.5C9.49995 19.1715 8.8284 18.5 8 18.5C7.1716 18.5 6.50005 19.1715 6.5 19.9999H5.5C5.49995 19.1715 4.8284 18.5 4 18.5C3.1716 18.5 2.50005 19.1715 2.5 19.9999H1.5C1.49995 19.1715 0.828399 18.5 0 18.5V1ZM9.41631 11.7884C8.55357 12.3443 7.47034 12.5936 6.32961 12.3827C4.52743 12.0472 3.08953 10.5326 2.85946 8.71135C2.4952 5.82606 4.94922 3.42005 7.85379 3.88016C9.65596 4.16773 11.1034 5.64393 11.4006 7.43646C11.5828 8.5484 11.3239 9.57406 10.7871 10.4272L12.896 12.5265C13.2699 12.9003 13.2699 13.5138 12.896 13.8876C12.5126 14.2711 11.8991 14.2711 11.5252 13.8972L9.41631 11.7884ZM4.70582 8.05877C4.70582 6.75995 5.75994 5.70583 7.05876 5.70583C8.35758 5.70583 9.4117 6.75995 9.4117 8.05877C9.4117 9.3576 8.35758 10.4117 7.05876 10.4117C5.75994 10.4117 4.70582 9.3576 4.70582 8.05877Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-right: 16px;
}
@media (min-width: 768px) {
  .header .menu__status-button {
    margin-right: 24px;
  }
}
@media (min-width: 1120px) {
  .header .menu__status-button {
    margin-right: 0;
  }
}
.header .menu__divider {
  min-width: 2px;
  max-width: 2px;
  min-height: 32px;
  max-height: 32px;
  background-color: #eaeaea;
  margin-right: 20px;
  margin-left: auto;
}
.header .menu__divider--fp:nth-of-type(1) {
  display: none;
}
@media (min-width: 768px) {
  .header .menu__divider--fp:nth-of-type(1) {
    display: block;
  }
}
@media (min-width: 1120px) {
  .header .menu__divider--fp:nth-of-type(n) {
    display: none;
  }
}
@media (min-width: 768px) {
  .header .menu__divider {
    margin-left: 20px;
    margin-right: 21px;
  }
}
.header .menu__label {
  margin-right: 8px;
  margin-left: 16px;
}
.header .button {
  display: block;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  background-color: #ff3e79;
  border-radius: 20px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  transition-duration: 300ms;
  cursor: pointer;
}
.header .button--hidden:not(:nth-of-type(1)) {
  display: none;
}
@media (min-width: 768px) {
  .header .button--hidden:nth-of-type(1n) {
    display: block;
  }
}
@media (min-width: 1120px) {
  .header .button--hidden:nth-of-type(1n) {
    display: none;
  }
}
.header .logo__link-img {
  margin-right: 16px;
}
@media (min-width: 1120px) {
  .header .logo__link-img {
    display: none;
  }
}
.header .label {
  display: none;
}
@media (min-width: 1120px) {
  .header .label {
    display: block;
    font-size: 16px;
    letter-spacing: -0.2px;
    text-align: right;
  }
}

.main {
  background-color: #f8f8f8;
}

.highlight {
  position: relative;
}
.highlight__title {
  margin-top: 0;
  margin-left: 16px;
  padding-top: 24px;
  margin-bottom: 0px;
}
@media (min-width: 768px) and (min-width: 1119.99) {
  .highlight__title {
    margin-left: 24px;
  }
}
@media (min-width: 1120px) {
  .highlight__title {
    margin-left: 32px;
  }
}
.highlight::before {
  content: " ";
  position: absolute;
  min-height: 40px;
  min-width: 4px;
  border-radius: 4px;
  margin-top: 24px;
  background-color: #41f6d7;
}
@media (min-width: 1120px) {
  .highlight::before {
    min-width: 3px;
    left: -1px;
    border-radius: 2px;
  }
}
.highlight .title {
  color: #1b1c21;
  font-family: "TT Lakes", sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.1px;
}

.nav__slide-menu {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .nav__slide-menu {
    margin-left: 24px;
    margin-top: 32px;
  }
}
@media (min-width: 1120px) {
  .nav__slide-menu {
    max-height: none;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-left: 32px;
    margin-right: 32px;
  }
}
.nav .slide-menu {
  overflow: scroll;
  display: flex;
  padding: 0;
  list-style: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.nav .slide-menu::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1120px) {
  .nav .slide-menu {
    overflow: hidden;
    min-width: 100%;
  }
  .nav .slide-menu::-webkit-scrollbar {
    width: 0;
  }
}
.nav .slide-menu__item {
  max-height: 40px;
  display: block;
  color: #7e7e82;
  border-radius: 6px;
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  white-space: nowrap;
  min-height: 40px;
  padding: 4px 15px 0;
  letter-spacing: -0.2px;
}
.nav .slide-menu__item:active {
  border-color: #b8ffec;
  background-color: #ffffff;
}
.nav .slide-menu__item--active {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
  border-color: #b8ffec;
}
@media (min-width: 1120px) {
  .nav .slide-menu__item--screen {
    padding: 5px 20px 0;
  }
}

.info--position {
  display: block;
}
@media (min-width: 768px) {
  .info--position {
    display: flex;
    justify-content: space-between;
  }
}
.info__description {
  overflow: hidden;
  font-weight: 300;
  color: #1b1c21;
  margin: 0px 16px 0 16px;
}
.info__description--size {
  max-height: 90px;
}
@media (min-width: 768px) {
  .info__description--size {
    margin: 16px auto 0 24px;
    max-height: 160px;
  }
}
@media (min-width: 1120px) {
  .info__description--size {
    margin: 20px auto 0 34px;
  }
}
.info__paragraph {
  max-width: 312px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: left;
}
.info__paragraph--size {
  margin: 0;
  min-width: 288px;
}
@media (min-width: 768px) {
  .info__paragraph--size {
    min-width: 312px;
    line-height: 20px;
    max-height: 160px;
  }
}
@media (min-width: 1120px) {
  .info__paragraph--size {
    max-width: 490px;
  }
}
.info__read-on {
  border: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  background-color: transparent;
}
.info__read-on::before {
  content: " ";
  display: inline-block;
  margin-right: 16px;
  height: 11px;
  width: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.info__read-on:hover {
  color: blue;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.info__read-on--position {
  margin-top: 16px;
  margin-left: 19px;
}
.info__logo {
  height: 100%;
  width: 100%;
  margin-top: 12.57px;
}
@media (min-width: 768px) {
  .info__logo {
    border-radius: 6px;
    margin-right: 25px;
    max-width: 360px;
  }
}
@media (min-width: 1120px) {
  .info__logo {
    margin-top: 10px;
    margin-right: 25px;
    max-width: 532px;
  }
}

.brands__header {
  max-height: 80px;
  margin-top: 24px;
  background-image: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
}
@media (min-width: 768px) {
  .brands__header {
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
  }
}
.brands__header-title {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-transform: uppercase;
  text-align: left;
  padding: 16px;
}
@media (min-width: 1366px) {
  .brands__header-title {
    padding-left: 32px;
  }
}
.brands__list {
  background: #f8f8f8;
}
.brands__list:after {
  content: "";
  position: absolute;
  top: 0;
  margin-top: 7px;
  right: 0;
  height: 81px;
  width: 24px;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  z-index: 222;
}
@media (min-width: 768px) {
  .brands__list:after {
    display: none;
  }
}
.brands__list-wrapper {
  list-style: none;
  padding: 0;
  height: auto;
}
.brands__list-wrapper:first-child {
  margin-left: 16px;
}
@media (min-width: 768px) {
  .brands__list-wrapper {
    display: grid;
    width: auto;
    max-height: 160px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 72px);
    gap: 16px 24px;
    margin: 24px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}
@media (min-width: 1120px) {
  .brands__list-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(3, 72px);
    gap: 16px 32px;
    margin: 24px 32px;
    max-height: 160px;
  }
}
.brands__list-wrapper--ohs {
  max-height: none;
}
.brands__list-wrapper--none {
  max-height: 0;
}
.brands__list-item {
  max-width: 240px;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .brands__list-item {
    padding-top: 0;
    max-width: 224px;
  }
}
.brands__logo--lenovo {
  height: 32px;
}
.brands__logo--samsung {
  height: 38.52px;
}
.brands__logo--apple {
  height: 44px;
}
.brands__logo--viewsonic {
  height: 21px;
}
.brands__logo--bosch {
  height: 28.6px;
}
.brands__logo--hp {
  height: 52px;
}
.brands__logo--acer {
  height: 24px;
}
.brands__logo--sony {
  height: 26.5px;
}
.brands__button {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='38' height='38' rx='19' stroke='%23FF3E79' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5 20L17.7071 16.2071C17.3166 15.8166 17.3166 15.1834 17.7071 14.7929L17.7929 14.7071C18.1834 14.3166 18.8166 14.3166 19.2071 14.7071L23.7929 19.2929C24.1834 19.6834 24.1834 20.3166 23.7929 20.7071L19.2071 25.2929C18.8166 25.6834 18.1834 25.6834 17.7929 25.2929L17.7071 25.2071C17.3166 24.8166 17.3166 24.1834 17.7071 23.7929L21.5 20Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  height: 72px;
  width: 240px;
  background-position: top 16px right 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 0;
}
.brands__button:hover {
  color: #1b1c21;
}
.brands__logo {
  display: block;
  margin-left: 16px;
}
.brands__show-all {
  display: none;
  font-size: 16px;
  line-height: 24px;
  color: rgb(27, 28, 33);
  border: none;
  padding: 0;
  text-align: left;
  font-family: "TT Lakes", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 500;
  background: #f2f2f2;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}
.brands__show-all:hover {
  color: blue;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.brands__show-all::before {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.5001 7.50008L12.0001 10.0001L9.50008 7.50008C9.22393 7.22393 8.77622 7.22393 8.50008 7.50008C8.22393 7.77622 8.22393 8.22393 8.50008 8.50008L11.293 11.293C11.6835 11.6835 12.3167 11.6835 12.7072 11.293L15.5001 8.50008C15.7762 8.22393 15.7762 7.77622 15.5001 7.50008C15.2239 7.22393 14.7762 7.22393 14.5001 7.50008ZM14.5001 13.5001L12.0001 16.0001L9.50008 13.5001C9.22393 13.2239 8.77622 13.2239 8.50008 13.5001C8.22393 13.7762 8.22393 14.2239 8.50008 14.5001L11.293 17.293C11.6835 17.6835 12.3167 17.6835 12.7072 17.293L15.5001 14.5001C15.7762 14.2239 15.7762 13.7762 15.5001 13.5001C15.2239 13.2239 14.7762 13.2239 14.5001 13.5001Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
  width: 7.41px;
  height: 10.29px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 17.29px;
  transition: transform 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .brands__show-all {
    display: block;
    background: none;
    border: none;
    color: #0072c6;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: transform 0.3s ease;
  }
}
@media (min-width: 768px) {
  .brands__show-all--rotate::before {
    transform: rotate(180deg);
  }
}
.brands__show-all--position {
  margin-left: 32px;
}

.technique__header {
  margin: 0;
  margin-top: 24px;
  max-height: 80px;
  background-image: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
}
@media (min-width: 768px) {
  .technique__header {
    height: 56px;
    padding-left: 24px;
    background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
  }
}
@media (min-width: 1120px) {
  .technique__header {
    padding-left: 0;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.technique__header-title {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-transform: uppercase;
  text-align: left;
  padding: 16px;
}
@media (min-width: 1366px) {
  .technique__header-title {
    padding-left: 32px;
  }
}
.technique__list {
  background: #f8f8f8;
}
.technique__list:after {
  content: "";
  position: absolute;
  top: 0;
  margin-top: 7px;
  right: 0;
  height: 166px;
  width: 24px;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  z-index: 222;
}
@media (min-width: 768px) {
  .technique__list:after {
    display: none;
  }
}
.technique__list-wrapper {
  list-style: none;
  padding: 0;
  height: auto;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}
.technique__list-wrapper:first-child {
  margin-left: 16px;
}
@media (min-width: 768px) {
  .technique__list-wrapper:first-child {
    margin-left: 24px;
  }
}
@media (min-width: 768px) {
  .technique__list-wrapper {
    display: grid;
    width: auto;
    max-height: 160px;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 24px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}
@media (min-width: 1120px) {
  .technique__list-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    column-gap: 32px;
    margin: 24px 32px;
    max-height: 160px;
  }
}
.technique__list-wrapper--ohs {
  max-height: none;
}
.technique__list-wrapper--none {
  max-height: 0;
}
.technique__list-item {
  max-width: 240px;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .technique__list-item {
    padding-top: 0;
    max-width: 224px;
  }
}
.technique__button {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='38' height='38' rx='19' stroke='%23FF3E79' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5 20L17.7071 16.2071C17.3166 15.8166 17.3166 15.1834 17.7071 14.7929L17.7929 14.7071C18.1834 14.3166 18.8166 14.3166 19.2071 14.7071L23.7929 19.2929C24.1834 19.6834 24.1834 20.3166 23.7929 20.7071L19.2071 25.2929C18.8166 25.6834 18.1834 25.6834 17.7929 25.2929L17.7071 25.2071C17.3166 24.8166 17.3166 24.1834 17.7071 23.7929L21.5 20Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  height: 160px;
  width: 240px;
  background-position: bottom 16px right 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.technique__button:hover {
  color: #1b1c21;
}
.technique__text {
  margin: 0;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
}
.technique__text--size {
  margin-top: 16px;
  margin-left: 16px;
}
.technique__show-all {
  display: none;
  font-size: 16px;
  line-height: 24px;
  color: rgb(27, 28, 33);
  border: none;
  padding: 0;
  text-align: left;
  font-family: "TT Lakes", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 500;
  background: #f2f2f2;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}
.technique__show-all:hover {
  color: blue;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.technique__show-all::before {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.5001 7.50008L12.0001 10.0001L9.50008 7.50008C9.22393 7.22393 8.77622 7.22393 8.50008 7.50008C8.22393 7.77622 8.22393 8.22393 8.50008 8.50008L11.293 11.293C11.6835 11.6835 12.3167 11.6835 12.7072 11.293L15.5001 8.50008C15.7762 8.22393 15.7762 7.77622 15.5001 7.50008C15.2239 7.22393 14.7762 7.22393 14.5001 7.50008ZM14.5001 13.5001L12.0001 16.0001L9.50008 13.5001C9.22393 13.2239 8.77622 13.2239 8.50008 13.5001C8.22393 13.7762 8.22393 14.2239 8.50008 14.5001L11.293 17.293C11.6835 17.6835 12.3167 17.6835 12.7072 17.293L15.5001 14.5001C15.7762 14.2239 15.7762 13.7762 15.5001 13.5001C15.2239 13.2239 14.7762 13.2239 14.5001 13.5001Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
  width: 7.41px;
  height: 10.29px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 17.29px;
  transition: transform 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .technique__show-all {
    display: block;
    background: none;
    border: none;
    color: #0072c6;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: transform 0.3s ease;
  }
}
@media (min-width: 768px) {
  .technique__show-all--rotate::before {
    transform: rotate(180deg);
  }
}
.technique__show-all--position {
  margin-left: 32px;
}

.price__header {
  max-height: 80px;
  margin-top: 24px;
  background-image: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
}
@media (min-width: 768px) {
  .price__header {
    background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
  }
}
.price__header-title {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-transform: uppercase;
  text-align: left;
  padding: 16px;
}
@media (min-width: 1366px) {
  .price__header-title {
    padding-left: 32px;
  }
}
.price__list {
  background-repeat: 6px;
  padding-left: 8px;
  padding-right: 8px;
  background: #f8f8f8;
}
@media (min-width: 768px) {
  .price__list {
    background-repeat: 6px;
  }
}
.price__list:after {
  content: "";
  position: absolute;
  top: 0;
  margin-top: 7px;
  right: 0;
  height: 200px;
  width: 24px;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  z-index: 222;
}
@media (min-width: 768px) {
  .price__list:after {
    display: none;
  }
}
.price__list-wrapper {
  padding: 0;
}
@media (min-width: 768px) {
  .price__list-wrapper {
    display: block;
    height: auto;
    border-radius: 6px;
  }
}
.price__list-item {
  max-width: 260px;
}
@media (min-width: 768px) {
  .price__list-item {
    max-width: none;
  }
}
.price-table-header {
  display: none;
}
@media (min-width: 768px) {
  .price-table-header {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    color: #1b1c21;
    mix-blend-mode: normal;
    opacity: 0.72;
    justify-content: space-between;
    padding: 16px;
  }
  .price-table-header::after {
    content: "";
    width: 119px;
  }
}
.price-table-header__cell {
  margin-right: auto;
}
.price-table-header__cell:first-of-type {
  min-width: 348px;
}
.price-table-header__cell:nth-child(2) {
  min-width: 74px;
}
.price-table-header__cell:last-of-type {
  min-width: 81px;
}
.price__info {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #1b1c21;
  padding: 16px 16px 0 16px;
  max-width: 421px;
}
@media (min-width: 768px) {
  .price__info {
    padding: 24px 0 0 24px;
  }
}
@media (min-width: 1120px) {
  .price__info {
    padding: 32px 0 0 32px;
  }
}
.price__item {
  margin-left: 16px;
  padding-top: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #1b1c21;
}
.price__item:nth-child(1)::before {
  display: block;
  color: #7e7e82;
  content: "Ремонтные услуги";
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .price__item:nth-child(1)::before {
    display: none;
  }
}
.price__item:nth-child(2)::before {
  display: block;
  color: #7e7e82;
  content: "Цена";
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .price__item:nth-child(2)::before {
    display: none;
  }
}
.price__item:nth-child(3)::before {
  display: block;
  color: #7e7e82;
  content: "Срок";
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .price__item:nth-child(3)::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .price__item {
    margin: 0;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .price__item:first-of-type {
    min-width: 348px;
  }
}
.price__item:last-of-type {
  min-width: 81px;
}

.price__card--info {
  height: 200px;
  background-color: #ffffff;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .price__card--info {
    display: flex;
    border-radius: 0;
    justify-content: space-between;
    height: auto;
    padding: 0;
    padding-bottom: 15px;
    border: solid 16px transparent !important;
    border-bottom: solid 1px #eaeaea !important;
    margin: 0;
    align-items: center;
    border: none;
  }
}
.price__card-button {
  display: block;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  border: 0;
  border-radius: 50%;
  background-color: #ff3e79;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  transition-duration: 250ms;
  width: 119px;
  height: 32px;
  border-radius: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.8 4.99994L0.791554 2.229C0.3641 1.83529 0.361125 1.16138 0.785088 0.763917L0.920293 0.637162C1.30321 0.278177 1.89851 0.276333 2.28364 0.632939L6.93812 4.94264C6.9715 4.97355 6.9715 5.02633 6.93812 5.05723L2.34674 9.30851C1.92606 9.69803 1.27582 9.69601 0.857554 9.30389V9.30389C0.394457 8.86974 0.397706 8.13363 0.864616 7.70358L3.8 4.99994Z' fill='white'/%3E%3C/svg%3E%0A");
  background-position: right 16px center;
  font-size: 12px;
  color: #ffffff;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-align: left;
  text-indent: 12px;
  position: absolute;
  bottom: 19px;
  right: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .price__card-button {
    position: static;
  }
}

.get-offer {
  display: none;
  padding: 0;
  border: 0;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  background-color: #f8f8f8;
  --transform-rotate: rotate(0deg);
  margin-left: 8px;
  margin-top: 24px;
  display: inline-block;
  margin: 16px;
  letter-spacing: 0.2px;
}
.get-offer:hover {
  text-shadow: 0 0 1px;
  color: #b5b6bc;
}
.get-offer::after {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.1625 9.60411C0.838186 9.97957 0.838186 10.536 1.1625 10.9115L1.29432 11.0641C1.69317 11.5258 2.40899 11.5258 2.80785 11.0641L6.8372 6.39937C7.16152 6.02392 7.16152 5.46745 6.8372 5.092L2.80785 0.427277C2.40899 -0.0344715 1.69317 -0.0344715 1.29432 0.427278L1.1625 0.57988C0.838185 0.955333 0.838186 1.5118 1.1625 1.88726L4.49539 5.74569L1.1625 9.60411Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 11px;
  padding-left: 11px;
  transform: var(--transform-rotate);
  transition-duration: 500ms;
}
@media (min-width: 768px) {
  .get-offer {
    margin-bottom: 0;
    margin-left: 24px;
  }
}
@media (min-width: 1120px) {
  .get-offer {
    margin-bottom: 0;
    margin-left: 32px;
  }
}

.footer {
  background-color: #f8f8f8;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #7e7e82;
  mix-blend-mode: normal;
  opacity: 0.72;
  margin: 16px 0;
  margin-top: 40.02px;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    padding-top: 32px;
  }
}
@media (min-width: 1120px) {
  .footer {
    padding: 32px;
    padding-bottom: 24px;
  }
}
.footer__text {
  margin-top: 16px;
  margin-bottom: 16px;
}
.footer__text:last-of-type {
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .footer__text:last-of-type {
    margin-bottom: none;
  }
}
@media (min-width: 768px) {
  .footer__text:first-child {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .footer__text:last-child {
    text-align: right;
    width: 213px;
  }
}
.footer__link {
  text-decoration: none;
  color: #7e7e82;
}

.button {
  display: block;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  background-color: #ff3e79;
  border-radius: 20px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  transition-duration: 300ms;
  cursor: pointer;
}

.modal-feedback {
  display: block;
}
.modal-feedback__close-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.79348 1.25712C2.40295 0.866593 1.76979 0.866592 1.37927 1.25712L1.25712 1.37927C0.866592 1.76979 0.866593 2.40296 1.25712 2.79348L7.46364 9L1.25712 15.2065C0.866593 15.597 0.866592 16.2302 1.25712 16.6207L1.37927 16.7429C1.76979 17.1334 2.40295 17.1334 2.79348 16.7429L9 10.5364L15.2065 16.7429C15.597 17.1334 16.2302 17.1334 16.6207 16.7429L16.7429 16.6207C17.1334 16.2302 17.1334 15.597 16.7429 15.2065L10.5364 9L16.7429 2.79348C17.1334 2.40296 17.1334 1.76979 16.7429 1.37927L16.6207 1.25712C16.2302 0.866592 15.597 0.866593 15.2065 1.25712L9 7.46364L2.79348 1.25712Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: 16px;
}
.modal-feedback__title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin-left: 16px;
}
.modal-feedback__title::before {
  content: " ";
  background-color: #41f6d7;
  width: 4px;
  height: 40px;
  left: 0;
}/*# sourceMappingURL=style.css.map */